In [175]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline

In [204]:
train = pd.read_csv("C:/Users/OWUSU/Desktop/ML n DL/kaggle/train.csv",header=0)

In [205]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [206]:
del train["Cabin"]

In [212]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [208]:
train["Age"].fillna(train["Age"].median(),inplace=True)

In [209]:
train["Embarked"].fillna(train["Embarked"].value_counts().idxmax,inplace=True)

In [211]:
del train['Name']
del train['PassengerId']
del train['Ticket']

In [213]:
train = pd.get_dummies(train,drop_first=True)

In [214]:
train.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0,3,22.0,1,0,7.2500,1,0,0,1
1,1,1,38.0,1,0,71.2833,0,1,0,0
2,1,3,26.0,0,0,7.9250,0,0,0,1
3,1,1,35.0,1,0,53.1000,0,0,0,1
4,0,3,35.0,0,0,8.0500,1,0,0,1

In [215]:
train.corr()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_C,Embarked_Q,Embarked_S
Survived,1.000000,-0.338481,-0.064910,-0.035322,0.081629,0.257307,-0.543351,0.168240,0.003650,-0.155660
Pclass,-0.338481,1.000000,-0.339898,0.083081,0.018443,-0.549500,0.131900,-0.243292,0.221009,0.081720
Age,-0.064910,-0.339898,1.000000,-0.233296,-0.172482,0.096688,0.081163,0.030248,-0.031415,-0.014665
SibSp,-0.035322,0.083081,-0.233296,1.000000,0.414838,0.159651,-0.114631,-0.059528,-0.026354,0.070941
Parch,0.081629,0.018443,-0.172482,0.414838,1.000000,0.216225,-0.245489,-0.011069,-0.081228,0.063036
Fare,0.257307,-0.549500,0.096688,0.159651,0.216225,1.000000,-0.182333,0.269335,-0.117216,-0.166603
Sex_male,-0.543351,0.131900,0.081163,-0.114631,-0.245489,-0.182333,1.000000,-0.082853,-0.074115,0.125722
Embarked_C,0.168240,-0.243292,0.030248,-0.059528,-0.011069,0.269335,-0.082853,1.000000,-0.148258,-0.778359
Embarked_Q,0.003650,0.221009,-0.031415,-0.026354,-0.081228,-0.117216,-0.074115,-0.148258,1.000000,-0.496624
Embarked_S,-0.155660,0.081720,-0.014665,0.070941,0.063036,-0.166603,0.125722,-0.778359,-0.496624,1.000000

In [220]:
uv = np.percentile(train.Fare,[99])[0]

In [221]:
uv

249.00622000000035

In [222]:
train[(train.Fare>uv)]

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_C,Embarked_Q,Embarked_S
27,0,1,19.0,3,2,263.0000,1,0,0,1
88,1,1,23.0,3,2,263.0000,0,0,0,1
258,1,1,35.0,0,0,512.3292,0,1,0,0
311,1,1,18.0,2,2,262.3750,0,1,0,0
341,1,1,24.0,3,2,263.0000,0,0,0,1
438,0,1,64.0,1,4,263.0000,1,0,0,1
679,1,1,36.0,0,1,512.3292,1,1,0,0
737,1,1,35.0,0,0,512.3292,1,1,0,0
742,1,1,21.0,2,2,262.3750,0,1,0,0

In [223]:
train.Fare[(train.Fare>3*uv)] = 3*uv

C:\Users\OWUSU\AppData\Local\Temp\ipykernel_8180\580088843.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train.Fare[(train.Fare>3*uv)] = 3*uv

In [224]:
y = train["Survived"]

In [226]:
x = train.loc[:,train.columns!='Survived']

In [228]:
from sklearn.model_selection import train_test_split

In [229]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.1,random_state=0)

In [231]:
import xgboost as xgb

C:\Users\OWUSU\anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [234]:
xgb_clf = xgb.XGBClassifier(max_depth=5,n_estimators=1000,learning_rate=0.3,n_jobs=-1)

In [235]:
xgb_clf.fit(x_train,y_train)

[15:19:37] WARNING: C:\Windows\Temp\abs_557yfx631l\croots\recipe\xgboost-split_1659548953302\work\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.3, max_delta_step=0,
              max_depth=5, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=1000, n_jobs=-1,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [236]:
accuracy_score = (y_test,xgb_clf.predict(x_test))

In [237]:
accuracy_score

(495    0
 648    0
 278    0
 31     1
 255    1
       ..
 627    1
 380    1
 483    1
 516    1
 505    0
 Name: Survived, Length: 90, dtype: int64,
 array([0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1,
        0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
        1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
        1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0,
        1, 1], dtype=int64))

In [241]:
from sklearn.model_selection import cross_val_score

In [242]:
accuracy_score = cross_val_score(xgb_clf,x,y,scoring='accuracy',cv=5)

C:\Users\OWUSU\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\OWUSU\anaconda3\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[15:27:53] WARNING: C:\Windows\Temp\abs_557yfx631l\croots\recipe\xgboost-split_1659548953302\work\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

C:\Users\OWUSU\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\OWUSU\anaconda3\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[15:27:56] WARNING: C:\Windows\Temp\abs_557yfx631l\croots\recipe\xgboost-split_1659548953302\work\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

C:\Users\OWUSU\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\OWUSU\anaconda3\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[15:27:58] WARNING: C:\Windows\Temp\abs_557yfx631l\croots\recipe\xgboost-split_1659548953302\work\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

C:\Users\OWUSU\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\OWUSU\anaconda3\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[15:28:00] WARNING: C:\Windows\Temp\abs_557yfx631l\croots\recipe\xgboost-split_1659548953302\work\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

C:\Users\OWUSU\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\OWUSU\anaconda3\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[15:28:02] WARNING: C:\Windows\Temp\abs_557yfx631l\croots\recipe\xgboost-split_1659548953302\work\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [245]:
100*(accuracy_score.mean())

80.69738246186681

In [246]:
y_pred = xgb_clf.predict(x_test)

In [247]:
y_pred

array([0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 1], dtype=int64)

In [248]:
y_pred_train = xgb_clf.predict(x_train)
y_pred_train

array([0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 0], dtype=int64)

In [252]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [257]:
confusion_matrix(y_test,y_pred)

array([[45,  6],
       [10, 29]], dtype=int64)

In [258]:
confusion_matrix(y_train,y_pred_train)

array([[490,   8],
       [ 12, 291]], dtype=int64)

In [316]:
test = pd.read_csv("C:/Users/OWUSU/Desktop/ML n DL/kaggle/test.csv",header=0)

In [317]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [318]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [319]:
test["Embarked"].value_counts()

S    270
C    102
Q     46
Name: Embarked, dtype: int64

In [320]:
del test["Cabin"]
del test['Name']
del test["Ticket"]

In [326]:
del test['PassengerId']

In [327]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      418 non-null    int64
 1   Sex         418 non-null    object
 2   Age         418 non-null    float64
 3   SibSp       418 non-null    int64
 4   Parch       418 non-null    int64
 5   Fare        418 non-null    float64
 6   Embarked_C  418 non-null    uint8
 7   Embarked_Q  418 non-null    uint8
 8   Embarked_S  418 non-null    uint8
dtypes: float64(2), int64(3), object(1), uint8(3)
memory usage: 20.9+ KB

In [322]:
test['Age'].fillna(test['Age'].median(),inplace=True)

In [323]:
test['Fare'].fillna(test['Fare'].median(),inplace=True)

In [324]:
test =  pd.get_dummies(test,columns=["Embarked"],drop_first=False)

In [331]:
test.head()

,Pclass,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Sex_male
0,3,34.5,0,0,7.8292,0,1,0,1
1,3,47.0,1,0,7.0000,0,0,1,0
2,2,62.0,0,0,9.6875,0,1,0,1
3,3,27.0,0,0,8.6625,0,0,1,1
4,3,22.0,1,1,12.2875,0,0,1,0

In [330]:
test = pd.get_dummies(test,columns=["Sex"],drop_first=True)

In [332]:
y_pred_new = xgb_clf.predict(test)
y_pred_new

array([0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0],
      dtype=int64)

In [334]:
test.shape

(418, 9)

In [338]:
y_train_new = y_train.iloc[:418,]

In [339]:
y_train_new.shape

(418,)

In [341]:
test_new =pd.read_csv("C:/Users/OWUSU/Desktop/ML n DL/kaggle/test.csv",header=0)

In [342]:
PassengerId = test_new["PassengerId"]

In [343]:
Survived = y_pred_new

TypeError: Cannot construct a dtype from an array

In [347]:
result = pd.DataFrame({'PassengerId':PassengerId,'Survived':Survived})

In [348]:
print(result)

     PassengerId  Survived
0            892         0
1            893         0
2            894         1
3            895         1
4            896         1
..           ...       ...
413         1305         1
414         1306         1
415         1307         0
416         1308         1
417         1309         0

[418 rows x 2 columns]

In [355]:
print(final_result)

,PassengerId,Survived
0,892,0
1,893,0
2,894,1
3,895,1
4,896,1
5,897,0
6,898,0
7,899,1
8,900,0
9,901,0
10,902,1
11,903,1
12,904,1
13,905,1
14,906,1
15,907,0
16,908,1
17,909,0
18,910,1
19,911,0
20,912,0
21,913,0
22,914,1
23,915,0
24,916,0
25,917,0
26,918,0
27,919,0
28,920,1
29,921,0
30,922,1
31,923,1
32,924,1
33,925,0
34,926,0
35,927,0
36,928,1
37,929,0
38,930,0
39,931,1
40,932,0
41,933,1
42,934,0
43,935,1
44,936,1
45,937,0
46,938,0
47,939,1
48,940,0
49,941,1
50,942,1
51,943,0
52,944,1
53,945,1
54,946,0
55,947,0
56,948,0
57,949,0
58,950,0
59,951,1
60,952,1
61,953,1
62,954,0
63,955,1
64,956,0
65,957,1
66,958,1
67,959,1
68,960,0
69,961,1
70,962,1
71,963,0
72,964,1
73,965,0
74,966,1
75,967,1
76,968,1
77,969,1
78,970,1
79,971,1
80,972,1
81,973,1
82,974,1
83,975,1
84,976,1
85,977,0
86,978,1
87,979,1
88,980,1
89,981,1
90,982,0
91,983,1
92,984,1
93,985,1
94,986,0
95,987,0
96,988,1
97,989,1
98,990,1
99,991,0
100,992,0
101,993,1
102,994,1
103,995,1
104,996,0
105,997,1
106,998,1
107,999,1
108,1000,1
109,1001,1
110,1002,0
111,1003,1
112,1004,1
113,1005,1
114,1006,1
115,1007,0
116,1008,1
117,1009,1
118,1010,0
119,1011,1
120,1012,1
121,1013,1
122,1014,1
123,1015,0
124,1016,1
125,1017,1
126,1018,1
127,1019,1
128,1020,1
129,1021,0
130,1022,0
131,1023,0
132,1024,1
133,1025,1
134,1026,0
135,1027,1
136,1028,1
137,1029,1
138,1030,0
139,1031,0
140,1032,0
141,1033,1
142,1034,0
143,1035,1
144,1036,1
145,1037,0
146,1038,1
147,1039,0
148,1040,1
149,1041,1
150,1042,0
151,1043,0
152,1044,0
153,1045,0
154,1046,0
155,1047,1
156,1048,1
157,1049,1
158,1050,1
159,1051,0
160,1052,1
161,1053,1
162,1054,1
163,1055,1
164,1056,1
165,1057,1
166,1058,0
167,1059,0
168,1060,0
169,1061,0
170,1062,1
171,1063,1
172,1064,0
173,1065,1
174,1066,1
175,1067,1
176,1068,1
177,1069,0
178,1070,1
179,1071,0
180,1072,1
181,1073,0
182,1074,1
183,1075,1
184,1076,0
185,1077,1
186,1078,1
187,1079,1
188,1080,0
189,1081,1
190,1082,1
191,1083,1
192,1084,0
193,1085,0
194,1086,1
195,1087,0
196,1088,1
197,1089,0
198,1090,1
199,1091,1
200,1092,1
201,1093,0
202,1094,0
203,1095,1
204,1096,0
205,1097,0
206,1098,0
207,1099,1
208,1100,0
209,1101,0
210,1102,1
211,1103,1
212,1104,1
213,1105,0
214,1106,0
215,1107,1
216,1108,1
217,1109,1
218,1110,0
219,1111,1
220,1112,0
221,1113,0
222,1114,1
223,1115,1
224,1116,0
225,1117,0
226,1118,1
227,1119,1
228,1120,0
229,1121,1
230,1122,1
231,1123,1
232,1124,0
233,1125,1
234,1126,0
235,1127,1
236,1128,0
237,1129,0
238,1130,1
239,1131,1
240,1132,0
241,1133,1
242,1134,0
243,1135,1
244,1136,0
245,1137,1
246,1138,1
247,1139,1
248,1140,1
249,1141,0
250,1142,1
251,1143,1
252,1144,0
253,1145,0
254,1146,1
255,1147,1
256,1148,1
257,1149,0
258,1150,1
259,1151,0
260,1152,0
261,1153,1
262,1154,1
263,1155,1
264,1156,0
265,1157,1
266,1158,1
267,1159,1
268,1160,1
269,1161,0
270,1162,0
271,1163,1
272,1164,0
273,1165,1
274,1166,1
275,1167,1
276,1168,1
277,1169,1
278,1170,1
279,1171,1
280,1172,0
281,1173,1
282,1174,1
283,1175,1
284,1176,1
285,1177,0
286,1178,1
287,1179,1
288,1180,1
289,1181,1
290,1182,1
291,1183,0
292,1184,1
293,1185,1
294,1186,1
295,1187,1
296,1188,1
297,1189,0
298,1190,1
299,1191,1
300,1192,0
301,1193,0
302,1194,1
303,1195,0
304,1196,1
305,1197,1
306,1198,0
307,1199,0
308,1200,1
309,1201,0
310,1202,1
311,1203,1
312,1204,1
313,1205,0
314,1206,0
315,1207,1
316,1208,0
317,1209,1
318,1210,1
319,1211,1
320,1212,1
321,1213,1
322,1214,1
323,1215,1
324,1216,1
325,1217,1
326,1218,1
327,1219,0
328,1220,1
329,1221,1
330,1222,1
331,1223,0
332,1224,1
333,1225,0
334,1226,1
335,1227,1
336,1228,1
337,1229,0
338,1230,1
339,1231,1
340,1232,1
341,1233,0
342,1234,0
343,1235,0
344,1236,0
345,1237,1
346,1238,1
347,1239,0
348,1240,1
349,1241,1
350,1242,0
351,1243,0
352,1244,1
353,1245,1
354,1246,1
355,1247,1
356,1248,1
357,1249,1
358,1250,1
359,1251,0
360,1252,0
361,1253,0
362,1254,1
363,1255,1
364,1256,1
365,1257,0
366,1258,0
367,1259,0
368,1260,0
369,1261,0
370,1262,1
371,1263,1
372,1264,0
373,1265,0
374,1266,1
375,1267,0
376,1268,0
377,1269,1
378,1270,1
379,1271,1
380,1272,1
381,1273,1
382,1274,0
383,1275,1
384,1276,1
385,1277,1
386,1278,0
387,1279,0
388,1280,1
389,1281,0
390,1282,1
391,1283,1
392,1284,1
393,1285,1
394,1286,0
395,1287,1
396,1288,1
397,1289,0
398,1290,1
399,1291,0
400,1292,1
401,1293,1
402,1294,0
403,1295,1
404,1296,0
405,1297,0
406,1298,1
407,1299,0
408,1300,1
409,1301,1
410,1302,1
411,1303,1
412,1304,1
413,1305,1
414,1306,1
415,1307,0
416,1308,1
417,1309,0

In [356]:
result.to_csv(r'C:\Users\OWUSU\Desktop\ML n DL\kaggle\result.csv')